.cuadros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
}

.cuadros-item {
    background-color: #517FFF;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
}

.cuadros-item:hover {
    background-color: rgb(13, 109, 253);
}

.cuadros-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    /* padding-bottom: 5px; */
}

.cuadros-content {
    padding-bottom: 5px;
}