.topbarcontainer {
    background-color: #FFFF;
    color: #1e88e5;
    margin-left: -50px;
    margin-right: -50px;
    margin-top: -25px;
    margin-bottom: 50px;
    padding-top: 42px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.topBarContent {
    display: flex;
    justify-content: space-between;
}