/* body {
    overflow-x: hidden;
} */

body {
    background-color: #f4f4f4;
}

.content {
    position: relative;
    top: 0;
    left: 18%;
    width: 82%;
    height: 100vh;
    padding: 50px;
    padding-top: 25px;
    padding-bottom: 10%;
    margin-bottom: 10%;
}

.actions-text {
    margin-top: 40px;
    margin-bottom: -10px;
    display: flex;
    /* justify-content: center; */
}

hr {
    color: rgb(13, 109, 253);
    margin-bottom: 40px;
}

.productos-botones {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.foto-td {
    padding-left: 0;
}

.ventaContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart-container {
    width: 25%;
}

.home_alert_lists {
    display: flex;
    justify-content: space-between;
}

.stock_alert_home {
    background-color: #ffffff;
    height: 20%;
    width: 49%;
    padding: 2%;
    border-radius: 3%;
    border-color: #F3F6F9;
}